body {
    font-family: 'Inter', sans-serif;
}

.title{
    font-size: 18px;
    text-align: center;
}

.content{
    padding: 0 40px;
    text-align: justify;
    font-size: 13px;
}

table{
    width: 100%;
}

table td{
    font-size: 13px;
    vertical-align: top;
    width: 50%;
}

.ql-align-center{
    text-align: center;
}

.ql-align-justify{
    text-align: justify;
}

.firmas{
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.firmas td{
    background-color: green;
    width: 50%;
}