.modal-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.modal-header .close{
    border-radius: 50rem !important;
    color: #6d788d;
    border-color: #e8e9ed;
    background: #e8e9ed;
    border: none;
}

.modal.show{
    background-color: rgb(var(--bs-primary-rgb), .1);
}
.options-on-save{
    display: none !important;
}

.dataTables_scrollBody table{
    min-height: 400px;
}

.dataTables_empty{
    vertical-align: middle;
}

.menu-item.active.open .menu-toggle{
    color: var(--primary-color) !important;
    border-color: var(--primary-ligth) !important;
    background: var(--primary-ligth) !important;
}

.menu-item.active.open .menu-toggle::after, .menu-item.active.open .menu-toggle::before{
    color: var(--primary-color) !important;
}

.menu-sub .menu-item{
    margin-left: 10px !important;
    /* border-right: 3px solid rgb(var(--bs-primary-rgb)); */
}